:root{
  --true: #a7f388;
  --false: #f76a67;

  --true-bg: #a6f388;
  --false-bg: #f76a67;
}

body{
  background-color: #09425a;
  color: #1aa2dc;
  user-select: none;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.App {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}


.file{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px #1aa2dc solid;
  width: 80%;
}
.questions{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 20vw;
  min-width: 250px;
  max-width: 350px;
  height: 200px;
  padding: 10px;
  color: black;

  transform: translate(-50%,0%);

  border-radius: 10px;

  user-select: none;
  transition: 1s;

  font-weight: bolder;

  border-left: var(--false) 20px solid;
  border-right: var(--true) 20px solid;

  box-shadow: 10px 10px 10px #222222;
}

.question.rot-true{
  transform: translate(-50%,0%) rotate(10deg);
}

.question.rot-false{
  transform: translate(-50%,0%) rotate(-10deg);
}

.question.success{
  background-color: var(--true);
}

.question.success .answers{
  display: none;
}

.question.fail{
  background-color: var(--false);
}

.question.fail .answers{
  display: none;
}

.question .answers{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;

  opacity: 0;
  transition: 1s;
}
.question .answer{
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

.btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: start;

  border: 5px solid white;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  font-size: 32px;

  cursor: pointer;
}
