.emoji-particle {
    position: absolute;
    font-size: 40px;
    pointer-events: none;
    opacity: 0;
    animation: fall 2s forwards;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
      transform: translateY(300px);
      opacity: 0;
    }
  }
  